@charset "UTF-8";
/* The Modal (background) */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic");
.modal { display: none; /* Hidden by default */ position: fixed; /* Stay in place */ z-index: 1; /* Sit on top */ left: 0; top: 0; width: 100%; /* Full width */ height: 100%; /* Full height */ overflow: auto; /* Enable scroll if needed */ background-color: black; /* Fallback color */ background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content { background-color: rgba(255, 255, 255, 0.9); margin: 5% auto; /* 15% from the top and centered */ padding: 20px; border: 1px solid #888; border-radius: 6px; max-width: 420px; color: #555555; text-align: center; }
.modal-content img { width: 200px; height: 200px; margin: auto; }
.modal-content span { line-height: 1.2rem; }

/* The Close Button */
.close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }

.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }

.modal-title { font-size: 1.6rem; }

.separator { width: 100%; height: 1px; border-top: 1px #555555 solid; margin-top: 0.5rem; margin-bottom: 0.5rem; }

#formPurchase { display: flex; margin: 1rem auto auto auto; flex-direction: column; max-width: 400px; }

.modal-form-item { margin-bottom: 1rem; }
.modal-form-item > label { width: 100%; }
.modal-form-item > input { width: 100%; }

.mod-btn { border: none; outline: none; border-radius: 8px; padding: 0; }

#clockdiv, #clockdivB { font-family: sans-serif; color: #fff; display: inline-block; font-weight: 100; text-align: center; font-size: 30px; margin-top: 1rem; margin-bottom: 1rem; }

.clock-div { padding: 10px; border-radius: 3px; background: #0e7ee3; display: inline-block; }

#clockdiv div > span, #clockdivB div > span { padding: 15px; border-radius: 3px; background: #0e67bf; display: inline-block; }

.smalltext { padding-top: 5px; font-size: 16px; }

#clockdivH, #clockdivHB { display: none; }

* { /*margin: 0;*/ /*padding: 0;*/ -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*body {*/
/*width: 100%;*/
/*height: 100%;*/
/*font-family: "helvetica neue", helvetica, arial, sans-serif;*/
/*font-size: 13px;*/
/*text-align: center;*/
/*background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');*/
/*}*/
ul { margin: 30px auto; text-align: center; }

li { list-style: none; position: relative; display: inline-block; width: 84px; height: 84px; }

.rnd-btn { -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 30px auto; text-align: center; list-style: none; position: fixed; right: 4%; bottom: 0%; display: none; width: 84px; height: 84px; }

@-moz-keyframes rotate { 0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); } }
@-webkit-keyframes rotate { 0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); } }
@-o-keyframes rotate { 0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); } }
@keyframes rotate { 0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); } }
.round { display: block; position: absolute; left: 0; top: 0; /*width: 100%;*/ /*height: 100%;*/ width: 84px; height: 84px; padding-top: 30px; text-decoration: none; text-align: center; font-size: 1rem; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); letter-spacing: -.065em; font-family: "Hammersmith One", sans-serif; -webkit-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; transition: all .25s ease-in-out; box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2); border-radius: 300px; z-index: 1; border-width: 4px; border-style: solid; }

.round:hover { position: absolute; width: 130%; height: 130%; /*width: 100px;*/ /*height: 100px;*/ left: -15%; top: -15%; font-size: 1rem; padding-top: 38px; -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); z-index: 2; border-size: 10px; -webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -o-transform: rotate(-360deg); transform: rotate(-360deg); }

a.red { background-color: #ef3932; color: #85201c; border-color: rgba(133, 32, 28, 0.2); }

a.red:hover { color: #ef3932; }

a.green { background-color: #0197ab; color: #003f47; border-color: rgba(0, 63, 71, 0.2); }

a.green:hover { color: #0197ab; }

a.yellow { background-color: #fce301; color: #992600; border-color: rgba(153, 38, 0, 0.2); }

a.blue { background-color: #0e7ee3; color: white; border-color: rgba(153, 38, 0, 0.2); }

a.yellow:hover { color: #fce301; }

a.blue:hover { color: #0e7ee3; }

.round span.round { display: block; opacity: 0; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; font-size: 1px; border: none; padding: 40% 20% 0 20%; color: #fff; }

.round span:hover { opacity: .85; font-size: 16px; -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

.green span { background: rgba(0, 63, 71, 0.8); }

.red span { background: rgba(133, 32, 28, 0.8); }

.yellow span { background: rgba(161, 145, 0, 0.8); }

.blue span { background: rgba(9, 84, 151, 0.8); }

.push-btn { width: 280px; height: 62px; margin: auto; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #666; font-size: 1.3rem; font-family: 'Russo One', sans-serif; }

.push-btn:active { position: relative; top: 2px; }

html { font-size: 16px; min-width: 360px; }

body { background-color: #333333; color: white; font-family: 'Ubuntu', sans-serif; font-size: 1rem; }

.goods-title, .go-ti, .feed-title, .delivery-title { padding: 0.5rem 2.5rem; background-color: rgba(0, 0, 0, 0.39); border-radius: 5px; justify-content: center; font-family: 'Russo One', sans-serif; font-size: 2rem; font-weight: 500; text-transform: uppercase; text-align: center; justify-self: flex-start; }
@media only screen and (max-width: 600px) { .goods-title, .go-ti, .feed-title, .delivery-title { padding: 0.5rem 0.5rem; font-size: 1.2rem; } }

.navigation, .main-container { display: flex; justify-content: center; background-size: cover; padding: 1% 5% 1% 5%; }
@media only screen and (max-width: 600px) { .navigation, .main-container { padding: 0.5rem 0.5rem; } }
@media only screen and (min-width: 1200px) { .navigation, .main-container { padding: 2% 5% 2% 5%; } }

.delivery-content { display: flex; background-color: rgba(0, 0, 0, 0.7); border-radius: 5px; margin: 2rem auto 2rem auto; padding: 2rem; text-align: justify; }
@media only screen and (max-width: 600px) { .delivery-content { margin: 0.8rem auto 0.8rem auto; padding: 0.8rem; } }

.top-container { background-size: cover; background-repeat: no-repeat; background-position-x: center; }

.navigation { flex-direction: row; justify-content: space-around; align-items: center; }

.menu-item, .menu-btn { display: flex; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; justify-content: center; align-items: center; }
@media only screen and (max-width: 600px) { .menu-item, .menu-btn { width: 100%; padding: 0.5rem; } }

.menu-item { padding: 0.8rem 1.5rem; font-size: 1rem; }

.menu-btn { display: none; padding: 0.5rem; font-size: 2rem; }

a.menu-item:link { color: inherit; text-decoration: none; }

a.menu-item:visited { color: inherit; text-decoration: none; }

a.menu-item:hover { color: inherit; text-decoration: none; }

a.menu-item:active { color: inherit; text-decoration: none; }

@media only screen and (max-width: 600px) { .navigation { flex-direction: column; }
  .menu-btn { display: flex; }
  .menu-item { display: none; } }
@media only screen and (min-width: 601px) { .menu-btn { display: none; }
  .menu-item { display: flex; } }
.main-container { flex-direction: row; }

.main-container > * { margin-top: 1rem; }

/*This is for delete:*/
@media only screen and (max-width: 900px) { .main-container { flex-direction: column-reverse; margin-top: 0; }
  .goods-text { margin-top: 0; } }
.goods-title, .go-ti { background: none; }

.go-ti { display: none; }
@media only screen and (max-width: 900px) { .go-ti { display: flex; } }

.goods-text { display: flex; flex-direction: column; flex-basis: 55%; padding-bottom: 20px; }

/*This is for delete:*/
.goods-text > h1 { font-size: 2.4em; margin: 2em auto auto auto; }

.discount { font-size: 2.4em; margin: 0 auto 0 auto; }

/* Price section */
.price { margin: 2em auto auto auto; width: 380px; }
@media only screen and (max-width: 600px) { .price { width: 280px; margin: 1em auto auto auto; } }

.price-title { display: flex; width: 100%; justify-content: space-around; margin: 0; }
.price-title span { display: inline-flex; width: 50%; justify-content: center; padding: 0.5rem; }

.price-value { display: flex; width: 100%; justify-content: space-around; border-radius: 6px; overflow: hidden; }
.price-value div { display: inline-flex; padding: 1rem; width: 50%; justify-content: center; font-family: 'Russo One', sans-serif; font-size: 2rem; }
@media only screen and (max-width: 600px) { .price-value div { font-size: 1.5rem; } }

.countdown { margin: 2em auto auto auto; }

.main-photo { display: flex; flex-shrink: 0; justify-content: left; flex-basis: 45%; }
.main-photo > div { max-width: 80%; text-align: left; margin: auto auto auto 0; }
.main-photo > div > img { display: block; margin: auto; overflow-style: marquee-block; }
@media only screen and (max-width: 900px) { .main-photo { justify-content: center; }
  .main-photo > div { display: flex; justify-content: center; overflow: hidden; margin: auto !important; } }

.btn-wrapper { display: flex; width: 300px; height: 82px; margin: auto auto 2rem auto; }

.purchase-btn { display: flex; width: 280px; height: 62px; margin: auto; }

.bg { background-size: cover; }

.fg { background-size: cover; opacity: 0; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }

.fg:hover, .fg:focus, .fg:active { opacity: 1; }

/* Description block */
.description-section { display: flex; flex-direction: column; background-size: cover; flex-wrap: wrap; justify-content: center; padding: 2% 10% 2% 10%; }
.description-section .descr { display: flex; margin: 0 auto 2rem auto; align-items: center; text-align: justify; }
@media only screen and (max-width: 600px) { .description-section .descr { flex-direction: column; margin: 0 auto 0.8rem auto; width: 100%; } }

.img-descr { display: flex; flex-shrink: 0; width: 62px; height: 62px; }

.text-descr { text-transform: uppercase; text-align: justify; padding: 2%; }

/* To delete:*/
.feedback-container { display: flex; flex-direction: column; justify-content: center; background-size: cover; padding: 2% 10% 2% 10%; }

.feed-title { margin-bottom: 2rem; }
@media only screen and (max-width: 600px) { .feed-title { margin-top: 0.8rem; margin-bottom: 0.8rem; } }

.feed-group { display: flex; flex-direction: column; align-items: flex-start; }
@media only screen and (max-width: 600px) { .feed-group { align-items: center; } }

.feed-item { display: flex; justify-content: center; align-items: center; font-family: 'Roboto', sans-serif; font-size: 16px; margin-top: 2rem; margin-bottom: 2rem; }
.feed-item .feed-name { font-weight: 700; text-transform: uppercase; }
@media only screen and (max-width: 600px) { .feed-item { flex-direction: column; margin-top: 0.8rem; margin-bottom: 0.8rem; } }

.feed-img { display: flex; flex-shrink: 0; width: 200px; height: 200px; border-radius: 6%; overflow: hidden; background-size: cover; background-position: center; background-repeat: no-repeat; }

.feed-content { display: flex; flex-direction: column; justify-content: center; padding: 3%; }

.delivery { display: flex; flex-direction: column; justify-content: flex-start; background-size: cover; background-position: center; padding: 2% 10% 2% 10%; }

.at-btn-bg, .at-btn-fg { display: none; -webkit-background-size: cover; background-size: cover; height: 84px; /* ╨Æ╤ï╤ü╨╛╤é╤â ╨║╨╜╨╛╨┐╨║╨╕ ╨▓ ╨╜╨╡╨░╨║╤é╨╕╨▓╨╜╨╛╨╝ ╤ü╨╛╤ü╤é╨╛╤Å╨╜╨╕╨╡*/ width: 84px; /* ╨¿╨╕╤Ç╨╕╨╜╨░ ╨║╨╜╨╛╨┐╨║╨╕ ╨▓ ╨╜╨╡╨░╨║╤é╨╕╨▓╨╜╨╛╨╝ ╤ü╨╛╤ü╤é╨╛╤Å╨╜╨╕╨╡*/ position: fixed; right: 2%; bottom: 2%; /* ╨á╨░╤ü╨┐╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ ╨▓ ╨▒╤Ç╨░╤â╨╖╨╡╤Ç╨╡ ╨┐╨╛ y */ opacity: 0.9; }
@media only screen and (max-width: 600px) { .at-btn-bg, .at-btn-fg { right: 4%; bottom: 4%; /* ╨á╨░╤ü╨┐╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ ╨▓ ╨▒╤Ç╨░╤â╨╖╨╡╤Ç╨╡ ╨┐╨╛ y */ } }

.at-btn-fg { opacity: 0; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; -ms-transition: opacity 0.3s; -o-transition: opacity 0.3s; transition: opacity 0.3s; }

.footer-section { display: flex; justify-content: center;  }
body{margin:  0}

/*# sourceMappingURL=styles.css.map */
